---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title"> {{ site.title }} </h1>
    <p class="more-info">{{ site.venue }}</p>
  </header>

  <article>

    <div class="clearfix">{{ content }}</div>

  <br><br>

 
    {% if page.news and site.announcements.enabled %}
       <h2>News</h2>
      {% include news.liquid limit=true %}
    {% endif %}

  <br><br>


  <h2>Invited Speakers</h2>
    <div class="container">
        <div class="row row-cols-2">
         {% for speaker in site.data.invited %}
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="{{ speaker.picture }}" style="width: 150px; height: 150px; object-fit: contain;">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title"><a href="{{ speaker.homepage }}"> {{ speaker.name }}</a> </h4>
                    <h6 class="card-text">{{ speaker.title }}</h6>      
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
    </div>

  <br><br>
  <h2>Important dates</h2>
      <table class="table table-striped">
        <tbody>
          {% for date in site.data.dates %}     
            <tr>
              <td style="text-align: left">{{ date.name }}: </td><td style="text-align: left">{{ date.date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>      
 
  <br><br>

  <h2>Proceedings</h2>
    <div class="container">
        <div class="row row-cols-1">
         {% for proceedings in site.data.proceedings %}
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-3">
                  <img src="{{ proceedings.picture }}" style="width: 150px; height: 150px; object-fit: contain;">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title"><a href="{{ proceedings.homepage }}"> {{ proceedings.name }}</a> </h4>
                    <h6 class="card-text">Call for papers: {{ proceedings.call }}</h6>      
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
    </div>
    <br><br>
    
   <h2>Organization</h2>
    {% for organizertype in site.data.organizers %}   
      <h3> {{ organizertype.title }} </h3>
      <table class="table table-striped">
        <tbody>
          {% for organizer in organizertype.members %}     
            <tr>
              <td style="text-align: left"><strong><a href="{{ organizer.homepage }}">{{ organizer.name }}</a></strong>{% if organizer.org %} - {{ organizer.org }} {% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>      
    {% endfor %}

  <br><br>





  <h2>Sponsors</h2>
    <br><br>

    <div class="container">
        <div class="row row-cols-4">
         {% for sponsor in site.data.sponsors %}
          <div class="card-item col">
                <div class="card-img col-md-2 mx-auto">
                  <a href="{{ sponsor.homepage }}"> <img src="{{ sponsor.picture }}" style="width: 150px; height: 150px; object-fit: contain;"></a>
                </div>
           </div>
          {% endfor %} 
        </div>
    </div>
    <br>
    If you are interested in sponsoring ACA, please contact the organizers.
  <br><br>
  </article>
</div>
