---
layout: default
---

{% assign talks = site.data.talks | sort: 'id' | where_exp: "item", "item.session==page.id"  %}


{% assign blocks = site.data.blocks | where_exp: "item", 'item.session contains page.AA'  %}

<h2>SS{{ page.AA }} - {{  page.title }}</h2>
<h3> link to the <a href="{{ page.webpage}}">session's webpage</a></h3> 
<br><br>
{{ page.content }}

<br><br>

<h3>Session organizers</h3>

  <table class="table table-striped">
  <tbody>
    {% for organizer in page.organizers %}  
      <tr>
        <td style="text-align: left"><strong><a href="{{ organizer.homepage }}">{{ organizer.name }}</a></strong> ({{ organizer.org }})</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
 

<br><br>

<h3>Timetable</h3>
<table class="table table-striped">
  <tbody>
    {% for block in blocks %}  
        {% for talkid in block.talks %} 
          <tr>
            {{ talkid }} - 
             {% assign talk = site.data.talks |  where_exp: "item", 'item.id==talkid'  %}
             {{ talκ }}
             <td style="text-align: left">{{ block.day }} {{ block.start }}-{{ block.end }} in room {{ block.room }}: {{ talk.title }} - - {{ talk.speaker }} </td>
          </tr>
        {% endfor %}
     {% endfor %}
  </tbody>
</table>
 
<h3>Speakers</h3>
<table class="table table-striped">
  <tbody>
    {% for talk in page.talks %}  
      <tr>
        <td style="text-align: left"><strong><a href="{{ talk['speaker'].homepage }}">{{ organizer.name }}</a></strong> ({{ organizer.org }})</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
 
 