---
layout: default
---

{% assign talks = site.data.talks | sort: 'id' | where_exp: "item", "item.session==page.id"  %}


{% assign blocks = site.data.blocks | where_exp: "item", 'item.session contains page.AA'  %}

<h2>SS{{ page.AA }} - {{  page.title }}</h2>
<h3> link to the <a href="{{ page.webpage}}">session's webpage</a></h3> 
<br><br>
{{ page.content }}

<br><br>

<h3>Session organizers</h3>

  <table class="table table-striped">
  <tbody>
    {% for organizer in page.organizers %}  
      <tr>
        <td style="text-align: left"><strong><a href="{{ organizer.homepage }}">{{ organizer.name }}</a></strong> ({{ organizer.org }})</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
 

<br><br>
 
<h3>Talks</h3>
  <table class="table table-striped">
    <tbody>
      {% for talk in site.data.talks %}
         {% if talk.session ==  page.AA  %}
          {% assign speaker = site.data.participants | where_exp: "item", "item.id==talk.speaker"  %}
            {% if speaker[0].fee=='paid' or speaker[0].fee=='waived' or speaker[0].fee=='onsite' or speaker[0].fee=='online' %}
              <tr> 
                <td style="text-align: left"><strong> {{ speaker[0]["first_name"] }} {{ speaker[0]["last_name"] }} - <a href="../../assets/abstract/{{ talk["abstract"] }}" target="_blank"> {{ talk["title"] }}</a> </td>
              </tr>
          {% endif %}                
        {% endif %}    
      {% endfor %}
    </tbody>
  </table>
 
 
 