---
layout: default
---

{{ page.content }}

<br><br>

{% assign sorted_sessions = site.sessions | sort: 'AA' %}
 

{% for session in sorted_sessions  %}   

  <h2> {{ session.title }} </h2>

  <table class="table table-striped">
    <tbody>
      {% for talk in site.data.talks %}
         {% if talk.session ==  session.AA  %}
          {% assign speaker = site.data.participants | where_exp: "item", "item.id==talk.speaker"  %}
            <tr>
              <td style="text-align: left"><strong> {{ speaker }} </td>
              <td style="text-align: left"><strong> {{ talk }} </td>
              <td style="text-align: left"><strong> {{ speaker["first_name"] }} {{ speaker["last_name"] }} - {{ talk["title"] }} </td>
            </tr>
        {% endif %}    
      {% endfor %}
    </tbody>
  </table>
{% endfor %}