---
layout: default
---

{{ page.content }}

<br><br>

{% assign sorted_sessions = site.sessions | sort: 'AA' %}
 

{% for session in sorted_sessions  %}   

  <h2> SS{{ session.AA }} - {{ session.title }} </h2>

  <table class="table table-striped">
    <tbody>
      {% for talk in site.data.talks %}
         {% if talk.session ==  session.AA  %}
          {% assign speaker = site.data.participants | where_exp: "item", "item.id==talk.speaker"  %}
            
            {% if speaker[0].fee=='paid' or speaker[0].fee=='waived' or speaker[0].fee=='onsite' or speaker[0].fee=='online' %}
            <tr> 
              <td style="text-align: left"><strong>{% increment cou %}. 
                {% for t in speaker %}
                 {{ speaker["fee"] }} {{ t["first_name"] }} {{ t["last_name"] }} - 
                {% endfor %}    
              {{ talk["title"] }} </td>
            </tr>
          {% endif %}    
        {% endif %}    
      {% endfor %}
    </tbody>
  </table>
{% endfor %}